{% extends 'education_platform/education_home.html' %}
{% load static %}

{% block content %}
{% include 'education_platform/incl/login_form.html' %}
{% include 'education_platform/incl/register_form.html' %}
{% include 'education_platform/incl/reset_password_form.html' %}
<!---->

<div id="containerForPasswordResetConfirm" class="container d-flex flex-column align-items-center mt-5">
<h1>Сменить пароль</h1>
<form method="post" id="studentPasswordResetConfirmForm" action="{% url 'education_platform:password_reset_confirm' uidb64=uidb64 token=token%}" >
    {% csrf_token %}
    {{ form.new_password1 }}
    <div id="new_password1MatchFeedback" class="invalid-feedback"></div>
    {{ form.new_password2 }}
    <div id="new_password2MatchFeedback" class="invalid-feedback"></div>
    <button id="buttonForSetNewPassword" class="btn btn-success mt-4" type="submit">Сбросить пароль</button>
</form>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'education_platform/js/password_reset_script.js' %}"></script>
{% endblock %}