{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Условия конфиденциальности{% endblock %}

{% block content %}
<section class="terms container-fluid" style="margin-top: 110px">
    <div class="container text-center">
        <h1>Политика конфиденциальности</h1>
    </div>
    <div class="container mt-5">
        Настоящая Политика конфиденциальности и обработки персональных данных (далее – «Политика конфиденциальности»)
        действует в отношении всей информации, которую ИП Курилко Е.В. ОГРНИП 321774600419190 ИНН 490908048703 (далее по
        тексту - “Исполнитель”),
        может получить о Пользователе во время
        использования сайта ver-g.ru.
    </div>
    <div class="container mt-5">
        <h3>1. Общие положения</h3>
        <br>
        1.1. Политика конфиденциальности ИП Курилко Е.В. подготовлена в соответствии с пунктом 2
        части 1 статьи 18.1 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных» и определяет
        основные принципы, цели, условия и способы обработки персональных данных, перечни субъектов, персональные данные
        которых обрабатываются, и обрабатываемых ИП Курилко Е.В. персональных данных, функции ИП Курилко Е.В. при
        обработке
        персональных данных, права субъектов персональных данных, а также реализуемые ИП Курилко Е.В. способы защиты
        персональных данных.

        <br><br>

        1.2. В настоящей Политике конфиденциальности используются следующие термины:

        <br><br>

        <strong>«Пользователь»</strong> — лицо, имеющее доступ к сайту ver-g.ru посредством сети Интернет и использующее
        сайт
        ver-g.ru;

        <br>

        <strong>«Сайт»</strong> – официальный сайт Исполнителя, включая все его поддомены, размещенный в сети Интернет
        по адресу: https://ver-g.ru.
        Сайт является Интернет - ресурсом, предназначенным для размещения Онлайн-курсов и представления услуг
        Исполнителя.

        <br>

        <strong>«Онлайн-курс»</strong> – структурированный набор видеозаписей, текстовых материалов и проверочных
        заданий к ним,
        исключительное право или право на использование которых принадлежит на момент их размещения на Сайте
        Исполнителю;

        <br>

        <strong>«Персональные данные»</strong> - любая информация, относящаяся к прямо или косвенно определенному или
        определяемому
        физическому лицу (субъекту персональных данных);

        <br>

        <strong>«Оператор»</strong> - государственный орган, муниципальный орган, юридическое или физическое лицо,
        самостоятельно или
        совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также
        определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия
        (операции), совершаемые с персональными данными;

        <br>

        <strong>«Обработка персональных данных»</strong> - любое действие (операция) или совокупность действий
        (операций), совершаемых с
        использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор,
        запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
        передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение
        персональных данных;

        <br>

        <strong>«Автоматизированная обработка персональных данных»</strong> - обработка персональных данных с помощью
        средств
        вычислительной техники;

        <br>

        <strong>«Распространение персональных данных» - действия</strong>, направленные на раскрытие персональных данных
        неопределенному
        кругу лиц;

        <br>

        <strong>«Предоставление персональных данных»</strong> - действия, направленные на раскрытие персональных данных
        определенному
        лицу или определенному кругу лиц;

        <br>

        <strong>«Блокирование персональных данных»</strong> - временное прекращение обработки персональных данных (за
        исключением
        случаев, когда обработка необходима для уточнения персональных данных);

        <br>

        <strong>«Уничтожение персональных данных»</strong> - действия, в результате которых становится невозможным
        восстановить
        содержание персональных данных в информационной системе персональных данных и (или) в результате которых
        уничтожаются материальные носители персональных данных;

        <br>

        <strong>«Обезличивание персональных данных»</strong> - действия, в результате которых становится невозможным без
        использования
        дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных
        данных;

        <br>

        1.3 Политика конфиденциальности распространяется на все действия, связанные с обработкой персональных данных на
        Сайте. Настоящая Политика конфиденциальности применяется только к Сайту. Исполнитель не контролирует и не несет
        ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.

        <br>

        1.4 Правовым основанием обработки персональных данных Исполнителем являются: Федеральный закон от 27.07.2006 N
        149-ФЗ «Об информации, информационных технологиях и о защите информации»; Федеральный закон от 29.12.2012 N
        273-ФЗ «Об образовании в Российской Федерации»; уставные документы Исполнителя; локальные нормативные акты
        Исполнителя
        в области персональных данных; пользовательское соглашение Сайта, размещенное по сетевому адресу
        <a href="https://ver-g.ru/terms/"></a>; договоры, заключаемые с Пользователями (субъектами персональных данных).

        <br>

        1.5 Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, при внесении Пользователем по
        своей инициативе дополнительных сведений о себе в своем аккаунте, а также посредством заполнения форм обратной
        связи на Сайте.

        <br>

        1.6 Принимая настоящую Политику конфиденциальности, Пользователь дает информированное и однозначное согласие на
        обработку своих персональных данных на условиях, предусмотренных в ней. Согласие Пользователя с настоящей
        Политикой конфиденциальности дается посредством проставления отметки о принятии настоящей Политики
        конфиденциальности («галочки») в чек-боксе при регистрации Пользователя на Сайте. При заполнении форм обратной
        связи на Сайте Пользователь считается предоставившим согласие на обработку персональных данных в момент нажатия
        кнопки, подтверждающей отправку соответствующей формы. Пользователь считается предоставившим согласие на
        обработку измененных персональных данных в момент завершения редактирования своего аккаунта.

        <br>

        1.7 Настоящим Пользователь подтверждает, что является совершеннолетним и дееспособным. В силу пункта 6 статьи 9
        Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных» в случае недееспособности субъекта
        персональных данных (недостижения им совершеннолетия) согласие на обработку его персональных данных дает
        законный представитель субъекта персональных данных.

        <br>

        1.8 Регистрируясь на Сайте и на Онлайн-курс, размещенный на Сайте, Пользователь соглашается, что его
        персональные данные становятся доступны Исполнителю.

        <br>

        1.9 Настоящим Пользователь подтверждает, что он передает свои персональные данные для обработки Исполнителю и
        согласен на их обработку.
        Пользователь также уведомлен, что обработка его
        персональных данных будет осуществляться Исполнителем на основании пункта 5 части 1 статьи 6
        Федерального закона N 152-ФЗ от 27 июля 2006 года «О персональных данных», а также на основании пункта 1 части 1
        статьи 6 Федерального закона N 152-ФЗ от 27 июля 2006 года «О персональных данных» в связи с чем Пользователь
        дает согласие на обработку персональных данных.

        <br>

        1.10 Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями
        обработки персональных данных Пользователя. В случае несогласия с условиями Политики конфиденциальности
        Пользователь должен прекратить использование Сайта.

        <br>

        1.11 При регистрации на Сайте в аккаунте Пользователя указываются следующие данные: фамилия, имя, адрес
        электронной почты. По желанию Пользователя в аккаунте может быть указана фотография (изображение).
        В случае предоставления фотографии Пользователь дает согласие на обнародование и
        дальнейшее использование изображения (фотографии) Пользователя в личном кабинете на Сайте и в иных целях,
        связанных с образовательным процессом. Для взаимодействия с Пользователями Исполнитель использует социальные
        сети
        Вконтакте, Telegram, Whatsapp.

        <br>

        1.12 Исполнитель не проверяет и, как правило, не имеет возможности проверить актуальность и достоверность
        предоставляемой субъектами персональных данных сведений, полученных посредством Сайта. Исполнитель исходит из
        того,
        что субъекты персональных данных, действуя разумно и добросовестно, предоставляют достоверные и достаточные
        персональные данные и поддерживают их в актуальном состоянии. Пользователь самостоятельно поддерживает
        предоставленные им персональные данные в актуальном состоянии.

        <br>

        1.13 Принимая настоящую Политику конфиденциальности, Пользователь осознает и соглашается с тем, что информация,
        размещенная Пользователем в своем аккаунте, может становиться доступной для других Пользователей Сайта и
        пользователей сети Интернет.

        <br>

        1.14 Настоящая Политика конфиденциальности распространяется на персональные данные, полученные как до, так и
        после вступления в силу настоящей Политики конфиденциальности
    </div>

    <div class="container mt-5">
        <h3>2. Принципы и цели обработки персональных данных</h3>
        <br><br>


        2.1. Настоящая Политика конфиденциальности устанавливает обязательства Исполнителя по неразглашению и
        обеспечению
        режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Исполнителя
        при
        регистрации на Сайте, при оформлении заказа для приобретения Онлайн-курса посредством Сайта или при заполнении
        форм обратной связи на Сайте.

        <br>

        2.2. Исполнитель, являясь оператором персональных данных, осуществляет обработку персональных данных
        Пользователей
        с учетом необходимости обеспечения защиты прав и свобод Пользователей, в том числе защиты права на
        неприкосновенность частной жизни, личную и семейную тайну, на основе следующих принципов:

        <br>

        2.2.1. обработка персональных данных осуществляется Исполнителем на законной и справедливой основе;

        <br>

        2.2.2. обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных
        целей;

        <br>

        2.2.3. не допускается обработка персональных данных, несовместимая с целями сбора персональных данных;

        <br>

        2.2.4. обработке подлежат только персональные данные, которые отвечают целям их обработки;

        <br>

        2.2.5. содержание и объем обрабатываемых персональных данных соответствует заявленным целям обработки;

        <br>

        2.2.6. хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных,
        не дольше, чем того требуют цели обработки персональных данных, в т.ч. в соответствии с настоящей Политикой
        конфиденциальности и пользовательским соглашением Сайта, если иной срок хранения персональных данных не
        установлен действующим законодательством Российской Федерации;

        <br>

        2.2.7. обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки, в
        случае утраты необходимости в достижении этих целей, а также в случае истечения срока, установленного в п. 2.9
        настоящей Политики конфиденциальности, если иное не предусмотрено действующим законодательством Российской
        Федерации.

        <br>

        2.3. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация,
        накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение,
        предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.

        <br>

        2.4. Обработка персональных данных Пользователей осуществляется Исполнителем как с использованием, так и без
        использования средств автоматизации.

        <br>

        2.5. Целями обработки персональных данных являются: регистрация Пользователя на Сайте; идентификация
        Пользователя на Сайте; отображение аккаунта Пользователя для иных Пользователей Сайта, а также для Пользователей
        сети «Интернет»
        заключение договора оказания услуг для получения Пользователем доступа к Онлайн-курсу; оказание услуг по
        договору и поддержание
        связи с Пользователем в процессе оказания услуг по договору (в процессе прохождения Пользователем
        Онлайн-курсов);
        оформление возврата денежных средств за Онлайн-курс, от участия в котором Пользователь отказался;
        проведение маркетинговых мероприятий, в т.ч. направление рекламных и информационных рассылок (сообщений),
        проведение вебинаров; заключение договоров с Исполнителем, заключение договоров с юридическими лицами.

        <br>

        2.6. В указанных целях Исполнитель обрабатывает следующие персональные данные:

        <br>

        2.6.1. Цель: регистрация Пользователя на Сайте. Категория субъекта: Пользователи Сайта. Обрабатываемые данные:
        фамилия, имя, адрес электронной почты, сведения об интересах, данные об аккаунтах социальных сетях Вконтакте,
        Telegram, Whatsapp, по желанию Пользователя – фотография (изображение). Категория данных: общие персональные
        данные.

        Способ обработки персональных данных: автоматизированные сбор, запись, систематизация, накопление, хранение,
        уточнение
        (обновление, изменение), извлечение, использование, передача, обезличивание, блокирование, удаление,
        уничтожение.
        Данные хранятся на сервере (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.2. Цель: идентификация Пользователя на Сайте. Категория субъекта: Пользователи Сайта. Обрабатываемые данные:
        адрес электронной почты. Категория данных: общие персональные данные. Способ обработки персональных данных:
        автоматизированные сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение),
        извлечение, использование, передача, обезличивание, блокирование, удаление, уничтожение. Данные хранятся на
        сервере
        (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.3. Цель: отображение аккаунта Пользователя для иных Пользователей Сайта, а также для Пользователей сети
        «Интернет». Категория субъекта: Пользователи Сайта.
        Обрабатываемые
        данные: фамилия и имя, фотография (изображение) Пользователя, если она была загружена в аккаунте Пользователем.
        Категория данных: общие персональные данные. Способ обработки персональных данных: автоматизированные сбор,
        запись,
        систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача,
        обезличивание, блокирование, удаление, уничтожение. Данные хранятся на сервере (облачных мощностях),
        используемых
        Исполнителем.

        <br>

        2.6.4. Цель: заключение договора оказания услуг для получения Пользователем доступа к Онлайн-курсу. Категория
        субъекта: Пользователи Сайта. Обрабатываемые данные: фамилия, имя, адрес электронной почты,
        паспортные данные или данные иного документа, удостоверяющего личность (паспортные данные или данные иного
        документа, удостоверяющего личность, предоставляются в случаях, предусмотренными условиями соответствующих
        Онлайн-курсов). Категория данных: общие персональные данные. Способ обработки персональных данных:
        автоматизированные сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение),
        извлечение, использование, передача, обезличивание, блокирование, удаление, уничтожение. Данные хранятся на
        сервере
        (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.5. Цель: оказание услуг по договору и поддержание связи с Пользователем в процессе оказания услуг по
        договору (в
        процессе прохождения Пользователем Онлайн-курсов). Категория субъекта: Пользователи Сайта. Обрабатываемые
        данные:
        фамилия, имя, адрес электронной почты, данные о социальных сетях Вконтакте, Telegram,
        Whatsapp. Категория данных: общие персональные данные. Способ обработки персональных данных: автоматизированные
        сбор,
        запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
        передача, обезличивание, блокирование, удаление, уничтожение. Исполнитель имеет право использовать и
        обрабатывать
        информацию, которую получает от Пользователя, когда Пользователь проходит Онлайн-курс на Сайте, включая
        отслеживание
        посещаемости Пользователем, его прогресс на Онлайн-курсе, а также информацию о том, закончил ли Пользователь
        курс.

        Данные хранятся на сервере (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.6. Цель: оформление возврата денежных средств за Онлайн-курс, от участия в котором Пользователь отказался.
        Категория субъекта: Пользователи Сайта. Обрабатываемые данные: фамилия, имя, адрес электронной почты, платежные
        реквизиты, паспортные данные или данные иного документа, удостоверяющего личность. Категория данных: общие
        персональные данные. Способ обработки персональных данных: автоматизированные сбор, запись, систематизация,
        накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача, обезличивание,
        блокирование, удаление, уничтожение. Данные хранятся на сервере (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.7. Цель: проведение маркетинговых мероприятий, в т.ч. направление рекламных и информационных рассылок
        (сообщений), проведение вебинаров. Категория субъекта: Пользователи Сайта. Обрабатываемые данные: фамилия, имя,
        адрес электронной почты. Категория данных: общие персональные данные. Способ обработки
        персональных данных: автоматизированные сбор, запись, систематизация, накопление, хранение, уточнение
        (обновление,
        изменение), извлечение, использование, передача, обезличивание, блокирование, удаление, уничтожение. Данные
        хранятся
        на сервере (облачных мощностях), используемых Исполнителем.

        <br>

        2.6.8. Цель: заключение договоров с юридическими лицами. Категория субъекта: Пользователи Сайта. Обрабатываемые
        данные: фамилия, имя, адрес электронной почты, номер телефона, место работы. Категория данных: общие
        персональные
        данные. Способ обработки персональных данных: автоматизированные сбор, запись, систематизация, накопление,
        хранение,
        уточнение (обновление, изменение), извлечение, использование, передача, обезличивание, блокирование, удаление,
        уничтожение. Данные хранятся на сервере (облачных мощностях), используемых Исполнителем.

        <br>

        2.7. Пользователь соглашается с тем, что Исполнитель в целях исполнения обязательств перед Пользователями,
        вытекающих
        из пользовательского соглашения Сайта, имеет право запросить дополнительную информацию о Пользователе.
        Исполнитель
        вправе, в частности, запросить у Пользователя копию документа, удостоверяющего личность, либо иного документа,
        содержащего фамилию, имя, фотографию Пользователя, а также иную дополнительную информацию, которая, по
        усмотрению
        Исполнителя, будет являться необходимой и достаточной для идентификации такого Пользователя и позволит исключить
        злоупотребления и нарушения прав других Пользователей и(или) третьих лиц.

        <br>

        2.8. Если в соответствии с действующим законодательством требуется получение отдельного согласия Пользователя на
        обработку персональных данных в связи с использованием Сайта, то такое согласие запрашивается у Пользователя.

        <br>

        2.9. Для всех целей обработки персональных данных срок обработки персональных данных составляет 3 (три) года с
        даты
        проявления Пользователем последней активности на Сайте. Персональные данные уничтожаются путем стирания их с
        серверов (облачных мощностей), используемых Исполнителем.

        <br>

        2.10. Имполнитель не осуществляет обработку персональных данных, касающихся расовой, национальной
        принадлежности,
        политических взглядов, религиозных, философских и иных убеждений, состояния здоровья, личной жизни, членства в
        общественных объединениях, в том числе в профессиональных союзах, биометрических данных.

        <br>

        2.11. Имполнитель имеет право осуществлять маркетинговые, статистические и иные исследования на основе
        обезличенной
        информации, предоставленной Пользователями. Обезличенная информация, полученная от Пользователей, может
        использоваться Имполнителем для улучшения качества сервиса и модернизации Сайта.

        <br>

        2.12. Имполнитель вправе в целях сбора статистических данных и идентификации Пользователя устанавливать и
        сохранять
        информацию об IP-адресах доступа Пользователя к Сайту, использовать файлы технической информации (cookies и
        другие
        аналогичные средства), размещаемые на персональном компьютере Пользователя. Принимая настоящую Политику
        конфиденциальности Пользователь соглашается на использование файлов cookies и иных аналогичных средств.

        <br>

        2.13. Имполнитель не несет ответственности за разглашение персональных данных Пользователя другими
        Пользователями
        Сайта, а также пользователями сети Интернет, получившими доступ к таким данным.

    </div>

    <div class="container mt-5">
        <h3>3. Порядок и условия обработки персональных данных</h3>
        <br><br>


        3.1. Для хранения персональных данных Пользователей Исполнитель использует базы данных, находящиеся на
        территории
        Российской Федерации. Трансграничная передача персональных данных не осуществляется.

        <br>

        3.2. Передача персональных данных третьим лицам осуществляется в соответствии с действующим законодательством
        Российской̆ Федерации и соглашениями между Сторонами. Персональные данные Пользователя могут быть переданы
        уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке,
        установленным
        законодательством Российской Федерации.

        <br>

        3.3. Лица, осуществляющие обработку персональных данных на основании заключаемого с Исполнителем договора
        (поручения оператора), обязуются соблюдать принципы и правила обработки и защиты персональных данных,
        предусмотренные действующим законодательством Российской Федерации.

        <br>

        3.5. Исполнитель при осуществлении обработки персональных данных:

        <br>

        3.5.1. принимает меры, необходимые и достаточные для обеспечения выполнения требований законодательства
        Российской
        Федерации и локальных нормативных актов Исполнителя в области персональных данных;

        <br>

        3.5.2. принимает правовые, организационные и технические меры для защиты персональных данных от неправомерного
        или
        случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения
        персональных данных, а также от иных неправомерных действий в отношении персональных данных;

        <br>

        3.5.3. осуществляет внутренний контроль и аудит соответствия обработки персональных данных Федеральному закону N
        152-ФЗ от 27 июля 2006 года «О персональных данных»

        <br>

        3.5.4. публикует или иным образом обеспечивает неограниченный доступ к настоящей Политике конфиденциальности;

        <br>

        3.5.5. сообщает в установленном порядке Пользователям или их представителям информацию о наличии персональных
        данных, относящихся к соответствующим Пользователям, предоставляет возможность ознакомления с этими
        персональными
        данными при обращении и (или) поступлении запросов указанных Пользователей или их представителей, если иное не
        установлено законодательством Российской Федерации;

        <br>

        3.5.6. прекращает обработку и уничтожает персональные данные в случаях, предусмотренных законодательством
        Российской
        Федерации в области персональных данных;

        <br>
        3.5.7. совершает иные действия, предусмотренные законодательством Российской Федерации в области персональных
        данных.

        <br>
        3.6. Исполнитель совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных
        отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.

    </div>


    <div class="container mt-5">

        <h3>4. Права и обязанности Пользователей и Исполнителя при обработке персональных данных</h3>

        4.1. Пользователь имеет право:

        <br>

        4.1.1. в любой момент изменить (обновить, дополнить) предоставленные им персональные данные, зайдя в личный
        кабинет в случаях, когда это позволяет сделать функционал Сайта;

        <br>

        4.1.2. удалить предоставленные им персональные данные путем направления Исполнителю письменного уведомления в
        свободной форме с указанием персональных данных, которые должны быть удалены;

        <br>

        4.1.3. получать от Исполнителя следующую информацию: подтверждение факта обработки персональных данных и
        сведения о
        наличии персональных данных, относящихся к соответствующему Пользователю; сведения о правовых основаниях и целях
        обработки персональных данных; сведения о применяемых Исполнителем способах обработки персональных данных;
        сведения
        о лицах, которые имеют доступ к персональным данным или которым могут быть
        раскрыты персональные данные на основании договора с Исполнителем или на основании федерального закона;
        обрабатываемые персональные данные, относящиеся к Пользователю, и информацию об источнике их получения, если
        иной порядок предоставления таких персональных данных не предусмотрен законодательством; сведения о сроках
        обработки персональных данных, в том числе о сроках их хранения; сведения о порядке осуществления Пользователем
        прав, предусмотренных законодательством о персональных данных; наименование и адрес лиц, осуществляющих
        обработку персональных данных по поручению Исполнителя; иные сведения, предусмотренные пунктом 7 статьи 14
        Федерального закона N 152-ФЗ от 27 июля 2006 года «О персональных данных»;

        <br>

        4.1.4. требовать от Исполнителя уточнения своих персональных данных, их блокирования или уничтожения в случае,
        если
        персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
        необходимыми для заявленной цели обработки;

        <br>

        4.1.5. отозвать свое согласие на обработку персональных данных в любой момент, направив письменного заявления в
        свободной форме Исполнителю на электронный адрес <a href="mailto:help@ver-g.ru">help@ver-g.ru</a>. После
        получения такого сообщения обработка
        персональных данных Пользователя будет прекращена, а его персональные данные будут удалены, за исключением
        случаев, когда обработка может быть продолжена без согласия Пользователя при наличии оснований, указанных в
        пунктах 2 -11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона N 152-ФЗ от 27 июля
        2006 года «О персональных данных».

        <br>

        4.1.6. требовать устранения неправомерных действий Исполнителя в отношении персональных данных Пользователя;

        <br>

        4.1.7. принимать предусмотренные законом меры по защите своих прав и законных интересов;

        <br>

        4.1.8. осуществлять иные права, предусмотренные законодательством Российской Федерации о персональных данных.

        <br>

        4.2. Пользователь может получить разъяснения по вопросам обработки своих персональных данных, направив
        соответствующий письменный запрос в свободной форме на электронный адрес <a
            href="mailto:help@ver-g.ru">help@ver-g.ru</a>.

        <br>

        4.3. Права, предусмотренные п. 4.1. настоящего раздела, могут быть ограничены в соответствии с требованиями
        законодательства Российской Федерации и (или) в случаях, когда Исполнитель осуществляет обработку персональных
        данных на иных правовых основаниях, нежели согласие субъекта персональных данных.

        <br>

        4.4. В соответствии с требованиями Федерального закона N 152-ФЗ от 27 июля 2006 года «О персональных данных»
        Исполнитель обязан:

        <br>

        4.4.1. предоставлять Пользователю по его запросу информацию, касающуюся обработки его персональных данных, либо
        на законных основаниях предоставить отказ в течение 10 (десяти) дней с даты получения запроса Пользователя или
        его представителя. Указанный срок может быть продлен, но не более чем на 5 (пять) рабочих дней в случае
        направления Исполнителем в адрес Пользователя мотивированного уведомления с указанием причин продления срока
        предоставления запрашиваемой информации;

        <br>

        4.4.2. по требованию Пользователя уточнять, блокировать или удалять обрабатываемые персональные данные, если
        персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
        необходимыми для заявленной цели обработки в срок, не превышающий 7 (семи) рабочих дней со дня предоставления
        Пользователем или его представителем сведений, подтверждающих эти факты;

        <br>

        4.4.3. в случае достижения цели обработки персональных данных и (или) истечения сроков хранения персональных
        данных прекратить обработку персональных данных и уничтожить соответствующие персональные данные в срок, не
        превышающий 30 (тридцати) дней с даты достижения цели обработки персональных данных, если иное не предусмотрено
        договором, стороной которого, выгодоприобретателем или поручителем по которому является Пользователь, иным
        соглашением между Исполнителем и Пользователем;

        <br>

        4.4.4. в случае отзыва Пользователем согласия на обработку его персональных данных прекратить обработку
        персональных данных и уничтожить персональные данные в срок, не превышающий 30 (тридцати) дней с даты
        поступления указанного отзыва, если иное не предусмотрено соглашением между Исполнителем и Пользователем;

        <br>

        4.4.5. в случае обращения Пользователя к Исполнителю с требованием о прекращении обработки персональных данных
        Исполнитель обязан в срок, не превышающий 10 (десяти) рабочих дней с даты получения Исполнителем
        соответствующего
        требования, прекратить их обработку, за исключением случаев, предусмотренных Федеральным законом N 152-ФЗ от 27
        июля
        2006 года «О персональных данных». Указанный срок может быть продлен, но не более чем на 5 (пять) рабочих дней в
        случае направления Исполнителем Пользователю мотивированного уведомления с указанием причин продления срока
        предоставления запрашиваемой информации;

        <br>

        4.4.6. по запросу уполномоченного органа по защите прав субъектов персональных данных сообщить необходимую
        информацию в течение 10 (десяти) рабочих дней с даты получения такого запроса. Указанный срок может быть
        продлен, но не более чем на 5 (пять) рабочих дней в случае направления Исполнителем в адрес уполномоченного
        органа
        по защите прав субъектов персональных данных мотивированного уведомления с указанием причин продления срока
        предоставления запрашиваемой информации;

        <br>

        4.4.7. выполнять иные обязанности, возложенные на оператора персональных данных в соответствии с
        законодательством Российской Федерации о персональных данных.
    </div>

    <div class="container mt-5">
        <h3>5. Заключительные положения</h3>

        5.1. Политика конфиденциальности Исполнителя является в соответствии с требованиями части 2 статьи 18.1
        Федерального закона N 152-ФЗ от 27 июля 2006 года «О персональных данных» общедоступной и постоянно расположена
        по адресу <a href="http://ver-g.ru/privacy/">http://ver-g.ru/privacy/</a>.

        <br>

        5.2. Политика действует бессрочно до замены ее новой версией. Исполнитель имеет право вносить изменения в Политику
        конфиденциальности без согласия Пользователей (субъектов персональных данных). Новая редакция Политики
        конфиденциальности вступает в силу с момента ее публикации на Сайте по указанной выше ссылке. Продолжение
        использования Сайта после публикации новой редакции Политики конфиденциальности означает принятие Пользователем
        условий Политики конфиденциальности.

    </div>


    {% endblock %}