{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Пользовательское соглашение{% endblock %}

{% block content %}
<section class="terms container-fluid" style="margin-top: 110px">
    <div class="container text-center">
        <h5>Российская Федерация, город Москва</h5>
    </div>
    <div class="container text-center">
        <h1>Пользовательское соглашение</h1>
    </div>

    <div class="container mt-5" style="font-size: 1.1rem">
        ИП Курилко Е.В. ОГРНИП 321774600419190 ИНН 490908048703 (далее по тексту - “Исполнитель”),
        с одной стороны, и лицо, акцептовавшее оферту, размещенную в сети Интернет по адресу
        <a href="https://ver-g.ru/terms">https://ver-g.ru/terms</a>, заключили настоящее пользовательское соглашение о
        нижеследующем.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>1. Термины и определения</h3>
        <br>

        1.1. В настоящем пользовательском соглашении, если из текста прямо не вытекает иное, следующие термины будут
        иметь указанные ниже значения:
        <br><br>
        <strong>«Аккаунт»</strong> – Персональная страница Пользователя на Сайте, содержащая информационные данные о
        Пользователе, на
        которой зарегистрированный Пользователь осуществляет управление своей учетной записью.
        <br><br>
        <strong>«Заказ»</strong> – Должным образом оформленный с помощью Сайта запрос Пользователя на участие в
        Онлайн-курсе Исполнителя,
        свидетельствующий о намерении Пользователя заключить с Исполнителем на Сайте договор возмездного оказания услуг,
        в соответствии с которым у Пользователя есть право получить доступ к Онлайн-курсу.
        <br><br>
        <strong>«Онлайн-курс»</strong> – структурированный набор видеозаписей, текстовых материалов и проверочных
        заданий к ним,
        исключительное право или право на использование которых принадлежит Исполнителю.
        <br><br>
        <strong>«Пользователь»</strong> – Любое лицо (физическое или юридическое), акцептовавшее оферту, размещенную в
        сети Интернет по
        адресу <a href="https://ver-g.ru/terms">https://ver-g.ru/terms</a>.
        <br>
        <strong>«Правила пользования сайтом»</strong> – Обязательные к исполнению всеми Пользователями правила,
        постоянно размещенные на
        Сайте по адресу <a href="https://ver-g.ru/terms">https://ver-g.ru/terms</a>.
        <br><br>
        <strong>«Сайт»</strong> – официальный сайт Исполнителя, включая все его поддомены, размещенный в сети Интернет
        по адресу: https://ver-g.ru/. <a href="https://ver-g.ru">https://ver-g.ru.</a> Сайт является
        Интернет - ресурсом, предназначенным для размещения Онлайн-курсов.
        <br><br>
        <strong>«Соглашение»</strong> – Настоящее пользовательское соглашение, а также все приложения к нему.
        <br><br>
        <strong>«Стороны»</strong> – Пользователь и Исполнитель.
        <br><br>
        <strong>«Счет»</strong> – Расчетный счет Исполнителя в кредитной организации, указанный на Сайте, либо счет
        Исполнителя у платежного
        агента, указанный на Сайте.
        <br><br>
        <strong>«Электронный доступ»</strong> – Запись в системе учета Сайта, содержащая идентификационные данные
        Пользователя, Заказа и
        статус Заказа, и подтверждающая заключение договора возмездного оказания услуг, в соответствии с которым
        Исполнитель обязан провести Онлайн-курс, а Пользователь и (или) третьи лица имеют право получить доступ к
        Онлайн-курсу. Реализация/продажа/приобретение Электронного доступа означает совершение названных сделок.
        <br><br>
        1.2. Все остальные термины и определения, встречающиеся в тексте Соглашения, толкуются Сторонами в соответствии
        с действующим законодательством Российской Федерации.
        <br><br>
        1.3. Названия заголовков (статей) Соглашения предназначены исключительно для удобства пользования текстом
        Соглашения и буквального юридического значения не имеют.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>2. Регистрация Аккаунта</h3>
        <br>
        2.1. Для регистрации на Сайте Пользователь должен достичь возраста, допустимого в соответствии с
        законодательством Российской Федерации для использования Сайта. Несовершеннолетние лица совершают сделки по
        приобретению Электронных доступов с согласия своих законных представителей в случаях, предусмотренных
        действующим законодательством.
        <br><br>
        2.2. Пользователь должен быть человеком. Аккаунты, зарегистрированные «ботами» или иными автоматическими
        способами, запрещены.
        <br><br>
        2.3. Для регистрации на Сайте Пользователю необходимо указать свое полное настоящее имя, действительный адрес
        электронной почты и любую другую информацию, запрашиваемую для завершения регистрации на Сайте, а также
        подтвердить адрес электронной почты. В случае предоставления недостоверной информации Исполнитель вправе
        отказать
        Пользователю в регистрации.
        <br><br>
        2.4. Пользователь гарантируют работоспособность указанного адреса электронной почты и самостоятельно несет
        риски, связанные с неполучением, несвоевременным получением или отправкой сообщений, неознакомлением с их
        содержанием в связи с любыми техническими неисправностями в работе электронной почты, отсутствием доступа к ней
        по любым причинам, а также в связи с отказом Пользователя от информационных сообщений Исполнителя. Исполнитель
        не
        несет ответственности за точность и правильность информации, предоставляемой Пользователем при регистрации.
        Исполнитель также не несет ответственности за возникновение негативных последствий для Пользователя в результате
        предоставления им недостоверных сведений и отказа Пользователя от информационных сообщений Исполнителя.
        <br><br>

        2.5. В дальнейшем для входа на Сайт Пользователь использует адрес электронной почты и пароль от существующего
        Аккаунта.
        <br><br>

        2.6. Исполнитель предоставляет Пользователю возможность создания единственной персональной учетной записи
        (Аккаунта). Один Пользователь не может иметь более одного Аккаунта. В случае создания Пользователем более одного
        Аккаунта Исполнитель оставляет за собой право удалить созданные Пользователем Аккаунты и/или отказать
        Пользователю
        в оформлении Заказа и (или) приобретении товаров (услуг).

        <br><br>
        2.7. Аккаунт может быть использован только одним лицом (физическим или юридическим). Совместное использование
        несколькими лицами одной учетной записи запрещено.

        <br><br>

        2.8. Пользователь обязуется не сообщать третьим лицам логин и пароль, а также индивидуальные коды. В случае
        возникновения у Пользователя подозрений относительно безопасности указанных данных, их несанкционированного
        использования третьими лицами, Пользователь обязуется незамедлительно уведомить об этом Исполнителя, направив
        электронное письмо.

        <br><br>

        2.9. Пользователь обязан самостоятельно предпринимать должные меры, обеспечивающие безопасность Аккаунта и
        предотвращающие несанкционированный доступ к нему третьих лиц. Исполнитель не несет ответственности за любой
        возможный ущерб, порчу или утрату данных, которые могут возникнуть в результате нарушения Пользователем этого
        обязательства.

        <br><br>

        2.10. Исполнитель не несет ответственности за Аккаунты юридических лиц, созданные их неуполномоченными
        представителями или третьими лицами.

        <br><br>

        2.11. Пользователь соглашается с тем, что к его Аккаунту могут быть применены любые ограничения (в том числе
        блокировка), связанные с безопасностью Аккаунта и данных, указанных в нем, или нарушением Пользователем
        настоящего Соглашения, а также по причинам технического характера. Кроме того, принимая условия настоящего
        Соглашения, Пользователь соглашается с тем, что ограничения на его Аккаунте могут быть применены в любое время
        без объяснения причин и без уведомления Пользователя.

        <br><br>

        2.12. Пользователь несет полную ответственность за любые действия, совершенные с использованием его учетной
        записи (Аккаунта), в том числе за весь контент, размещаемый с использованием его учетной записи (Аккаунта), а
        также за любые последствия, которые могло повлечь или повлекло подобное его использование.

        <br><br>

        2.13. Пользователь имеет право удалить свой Аккаунт, направив Исполнителю на адрес электронной почты
        <a href="mailto:help@ver-g.ru">help@ver-g.ru</a> со своего адреса электронной почты запрос на удаление Аккаунта.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>3. Предмет соглашения</h3>
        <br>

        3.1. В порядке и на условиях, предусмотренных Соглашением, Исполнитель предоставляет Пользователю возможность
        использования Сайта, а Пользователь обязуется при необходимости использовать Сайт в соответствии с условиями
        Соглашения.

        <br><br>

        3.2. На основании Соглашения Пользователь имеет возможность использовать Сайт:
        получать размещенную на Сайте информации об Онлайн-курсах; участвовать в бесплатных Онлайн-курсах,
        зарегистрировавшись на них и получив Электронный доступ от Исполнителя; участвовать в платных Онлайн-курсах
        посредством оформления Заказа, внесения соответствующей платы и получения Электронного доступа от Исполнителя..
        Кроме того, Пользователь вправе использовать Сайт иным способом, предусмотренным Исполнителем.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>4. Права и обязанности Исполнителя</h3>
        <br>

        4.1. Исполнитель вправе заблокировать доступ к Сайту для Пользователя, если он своими действиями или
        бездействием
        нарушает условия Соглашения, иные соглашения между Сторонами или иные требования Исполнителя. Исполнитель имеет
        право
        заблокировать Аккаунт Пользователя в случае словесного, физического, письменного и иных видов насилия (включая
        угрозы насилия или возмездия) в отношении любого Пользователя, сотрудника или представителя Исполнителя.

        <br></br>

        4.2. Исполнитель вправе без объяснения причин отказать Пользователю в оформлении Заказа. При этом в случае, если
        Пользователем был приобретен Электронный доступ путем перечисления денежных средств Исполнителю, Исполнитель
        обязуется
        либо оформить Электронный доступ, либо отказаться от его оформления и вернуть Пользователю уплаченные денежные
        средства.

        <br><br>

        4.3. Исполнитель вправе производить модификацию любого программного обеспечения Сайта, изменять оформление и
        пользовательский интерфейс Сайта, его содержание, содержание предоставляемых функций, включая, изменять или
        дополнять используемые скрипты, программное обеспечение, и другие объекты, используемые или хранящиеся на Сайте,
        любые серверные приложения без обязательного уведомления об этом Пользователя.

        <br><br>

        4.4. Исполнитель оставляет за собой право по своему собственному усмотрению изменять или удалять любую
        публикуемую
        на Сайте информацию, а также контент и любые элементы и составные части Сайта, приостанавливать, ограничивать
        или прекращать доступ Пользователя ко всем или к любому из разделов Сайта в любое время по любой причине или без
        объяснения причин, с предварительным уведомлением или без такового (по усмотрению Исполнителя). При этом Стороны
        соглашаются, что Исполнитель не отвечает за любой вред, который может быть причинен Пользователю такими
        действиями.

        <br><br>

        4.5. Исполнитель вправе приостанавливать работу Сайта при обнаружении существенных неисправностей, ошибок и
        сбоев,
        а также в целях предотвращения случаев несанкционированного доступа к Сайту.

        <br><br>

        4.6. Исполнитель вправе для поддержания работоспособности и усовершенствования Сайта, проводить профилактические
        работы, в ходе которых возможно частичное или полное ограничение доступа к Сайту, а также частичное или полное
        ограничение функциональных возможностей Сайта. Время проведения профилактических работ не считается перерывом в
        предоставлении доступа к Сайту и не может рассматриваться как нарушение Исполнителем своих обязательств,
        предусмотренных настоящим Соглашением. Предварительное согласование проведения профилактических работ с
        Пользователем не требуется.

        <br><br>

        4.7. Если объем использования пропускной способности Пользователем значительно превышает средний объем
        использования пропускной способности (определяемый исключительно Исполнителем) другими Пользователями Сайта,
        Исполнитель оставляет за собой право немедленно отключить Аккаунт такого Пользователя или ограничить возможность
        просматривать и публиковать материалы до тех пор, пока Пользователь не снизит потребление пропускной
        способности.

        <br><br>

        4.8. Исполнитель обязуется предпринимать все зависящие от нее действия для обеспечения бесперебойной работы
        Сайта,
        однако Исполнитель не несёт ответственности за перерывы в работе Сайта (в т. ч. аварийные), за недостаточное
        качество или скорость предоставления данных, за полную или частичную утрату каких-либо данных, размещённых на
        Сайте.

        <br><br>

        4.9. Исполнитель вправе использовать данные Пользователя или иных лиц, информация о которых внесена
        Пользователем
        на Сайт, в маркетинговых целях. Пользователь гарантирует, что данные, внесенные Пользователем на Сайт, являются
        добровольно предоставленными им.

        <br><br>

        4.10. Исполнитель вправе направлять Пользователю информационные и рекламные сообщения, как по адресу электронной
        почты, так и любыми другими способами, сведения о которых содержатся на Сайте. Настоящим Пользователь дает
        согласие на получение подобной информации. Пользователь имеет право изменить настройки информационных и
        рекламных сообщений в своем Аккаунте и отказаться от информационных и рекламных сообщений, Исполнитель в таком
        случае не несет ответственность за последствия, связанные с неполучением Пользователем уведомлений о работе
        Сайта, изменениях в тексте настоящего Соглашения, а также с неполучением Пользователем юридически значимых
        сообщений и иной существенной информации.

        <br><br>

        4.11. Исполнитель вправе консультировать Пользователя по ходу оформления/подтверждения/оплаты Заказа. В том
        числе
        самостоятельно связываться с Пользователем по указанным Пользователем адресам электронной почты и в социальных
        сетях.

        <br><br>

        4.12. Исполнитель вправе выбирать самостоятельно и, по своему усмотрению, устанавливать способы идентификации
        Пользователя на всех своих ресурсах, в том числе сайтах, серверах и прочих.

        <br><br>

        4.13. Информация о возможном способе осуществления платежа размещается на Сайте и доступна при оформлении
        Заказа. Порядок осуществления оплаты электронными средствами платежа (оплата через интернет банковской картой
        или другими способами) устанавливается соответствующим оператором платёжной системы по формам соответствующих
        операторов.

        4.14. Исполнитель вправе в целях сбора статистических данных и идентификации Пользователя устанавливать и
        сохранять
        информацию об IP-адресах доступа Пользователя к Сайту, использовать файлы технической информации (cookies),
        размещаемые на персональном компьютере Пользователя.

        4.15. Техническая поддержка Сайта доступна на русском языке с помощью электронной почты
        <a href="mailto:help@ver-g.ru">help@ver-g.ru</a>.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>5. Права и обязанности Пользователя</h3>
        <br>

        5.1. Пользователь обязуется самостоятельно следить за изменениями условий Соглашения. Пользователь обязуется
        знакомиться с актуальной версией Соглашения при каждом посещении Сайта до момента пользования Сайтом.

        <br><br>

        5.2. Пользователь обязуется соблюдать правила пользования Сайтом.

        <br><br>

        5.3. Использование Пользователем Сайта, любых его служб, функционала означает безоговорочное согласие
        Пользователя со всеми пунктами настоящего Соглашения и безоговорочное принятие его условий с обязательствами
        соблюдать обязанности, возложенные на Пользователя по настоящему Соглашению. Факт использования Пользователем
        Сайта, любыми его службами, функционалом, является полным и безоговорочным акцептом настоящего Соглашения,
        незнание которого не освобождает Пользователя от ответственности за несоблюдение его условий. Если Пользователь
        соглашается с данными условиями от имени юридического лица, Пользователь подтверждает, что имеет все необходимые
        полномочия на заключение настоящего Соглашения.

        <br><br>

        5.4. Пользователь обязуется использовать Сайт только в законных целях, соблюдать действующее законодательство
        РФ, иное применимое законодательство (включая, но не ограничиваясь законодательство об интеллектуальной
        собственности), а также права и законные интересы Исполнителя и третьих лиц.

        <br><br>

        5.5. Пользователь обязуется не использовать Сайт для любых иных целей, кроме как для целей, связанных с
        функциональными возможностями Сайта.

        <br><br>

        5.6. Пользователь гарантирует, что не будет предпринимать каких-либо действий, направленных на причинение ущерба
        Исполнителю и иным лицам. В случае нарушения правил использования Сайта и настоящего Соглашения
        Пользователь обязуется возместить Исполнителю вред, причиненный такими действиями.

        <br><br>

        5.7. Пользователь обязан воздерживаться от осуществления действий, направленных на дестабилизацию работы Сайта,
        осуществления попыток несанкционированного доступа к Сайту, объектам интеллектуальной собственности, размещенным
        на нем, а также от осуществления любых иных действий, нарушающих права Исполнителя и третьих лиц.

        <br><br>

        5.8. В соответствии с настоящим Соглашением Пользователю не предоставляются права на средства индивидуализации
        лиц, товаров, работ, услуг, в том числе логотипы, товарные знаки, знаки обслуживания, фирменные наименования.
        Пользователю также не предоставляются права на элементы (части, составляющие) Сайта, включая фотографии,
        рисунки, графику, анимацию, звуки и иной контент. Пользователь не вправе использовать данные элементы в любых
        целях, кроме указанных в п. 3.2. Соглашения.

        <br><br>

        5.9. Пользователь обязуется не загружать, не публиковать, не размещать и не передавать нежелательные электронные
        письма, СМС, а также сообщения, содержащие «спам». Пользователь обязуется не передавать посредством Сайта любые
        вирусы или любой код опасного характера.

        <br><br>

        5.10. Пользователь обязан самостоятельно обеспечить себя персональным компьютером и доступом к сети Интернет для
        возможности использования Сайта. Все вопросы приобретения прав доступа в сеть Интернет, покупки и наладки для
        этого соответствующего оборудования и программных продуктов решаются Пользователем самостоятельно, не подпадают
        под действие настоящего Соглашения, и Исполнитель не несет ответственность за эти действия Пользователя или
        третьих
        лиц.

        <br><br>

        5.11. Пользователь обязуется предоставлять достоверную, актуальную и по необходимости полную информацию при
        использовании Сайта.

        <br><br>

        5.12. Пользователь обязуется самостоятельно проверить данные Заказа перед его оформлением. Пользователь несет
        полную ответственность за достоверность и правомерность употребления данных, использованных им при оформлении
        Заказа.

        <br><br>

        5.13. Пользователь обязуется ознакомиться с содержанием, условиями регистрации и порядком проведения
        Онлайн-курса, а также с дополнительными требованиями, предъявляемыми Исполнителем до оформления Заказа. В случае
        если Пользователю не полностью ясны какие-либо условия проведения Онлайн-курса, в том числе, порядок оплаты,
        Пользователь обязуется уточнить эти условия, а при невозможности уточнения отказаться от оформления Заказа и
        посещения Онлайн-курса.

        <br><br>

        5.14. Пользователь вправе выбирать из предложенных на Сайте способов способ оплаты участия в Онлайн-курсе. При
        этом Пользователь обязуется самостоятельно ознакомиться с правилами пользования выбранным им способом платежа,
        которые предоставляются соответствующими операторами платёжных систем.

        <br><br>

        5.15. Юридическое лицо, оплачивающее Электронные доступы по счету, выставленному Исполнителем, гарантирует
        активацию всех Электронных доступов в течение 7 (семи) календарных дней после покупки. Юридическое лицо,
        оплачивающее Электронные доступы по счету, выставленному Исполнителем, вправе заявить свое требование об отказе
        от
        участия в Онлайн-курсе в течение 7 (семи) календарных дней после оформления и оплаты Заказа.

        <br><br>

        5.16. Пользователь обязуется оплатить в полном объеме самостоятельно или через третьих лиц стоимость Заказа.
        После оплаты Заказа, Электронный доступ считается проданным, и у Пользователя возникает право посетить
        Онлайн-курс или воспользоваться иной услугой Исполнителя.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>6. Порядок оформления Заказа и получения Электронного доступа</h3>
        <br>

        6.1. Пользователь, желающий посетить Онлайн-курс или воспользоваться иной услугой Исполнителя, информация о
        которой размещена на Сайте, изучает информацию об Онлайн-курсе или услуге на соответствующей странице Сайта.

        <br><br>

        6.2. Для оформления Заказа Пользователь должен совершить следующие действия:

        <br><br>

        6.2.1. выбрать Онлайн-курс на Сайте;

        <br><br>

        6.2.2. предоставить предусмотренные на странице Онлайн-курса сведения (предоставляемые сведения должны
        соответствовать действительности и предоставляться в необходимом объеме);

        <br><br>

        6.2.3. подтвердить корректность внесенных сведений и желание оформить заказ нажатием кнопки на соответствующей
        странице Сайта.

        <br><br>

        Иной порядок оформления Заказа может быть предусмотрен соглашением Сторон.

        <bt></bt>

        6.3. Если для участия в Онлайн-курсе Пользователь должен оплатить Заказ, после подтверждения Заказа Сайт
        перенаправляет Пользователя на страницу оплаты Заказа. Для оплаты Заказа Пользователь выбирает соответствующий
        способ оплаты, указанный на странице Сайта и производит оплату в соответствии с правилами осуществления платежей
        выбранного Пользователем способа оплаты. После оплаты Заказа Исполнитель направляет Пользователю сообщение с
        уведомлением о получении оплаты и о возможности участия в Онлайн-курсе, а также формирует Электронный доступ.

        <br><br>

        6.4. Моментом оплаты Заказа является момент поступления денежных средств на Счет. С момента оплаты Заказа у
        Исполнителя возникает обязательство по выдаче Пользователю Электронного доступа.

        <br><br>

        6.5. В случае внесения за Пользователя платежа третьими лицами все права и обязанности в отношении этого платежа
        возникают у Пользователя, и такие действия третьих лиц оцениваются Сторонами как совершенные указанными третьими
        лицами в интересах Пользователя и не порождающие каких-либо прав и обязанностей между указанными третьими лицами
        и Исполнителем.

        <br><br>

        6.6. Пользователь участвует в Онлайн-курсе в соответствии с правилами, установленными Исполнителем.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>7. Интеллектуальная собственность</h3>
        <br>

        7.1. Вся инфраструктура Сайта, а также его программное обеспечение являются собственностью Исполнителя.
        Пользователь не имеет права воспроизводить, повторять, копировать, продавать, перепродавать, а также
        использовать любым способом для каких-либо коммерческих целей Сайт, какие-либо части содержимого Сайта без
        согласия Исполнителя. Пользователь обязуется не изменять, не адаптировать и не взламывать Сайт, а также не
        изменять
        другие сайты таким образом, чтобы возникало ложное впечатление, что они имеют отношение к Сайту.

        <br><br>

        7.2. Пользователь сохраняет права на свой профиль и на все материалы, загруженные Пользователем на Сайт.

        <br><br>

        7.3. Все используемые и размещенные на Сайте результаты интеллектуальной деятельности охраняется
        законодательством об интеллектуальной собственности Российской Федерации, а также соответствующими
        международными правовыми актами. Любое использование размещенных на Сайте результатов интеллектуальной
        деятельности без разрешения законного правообладателя является незаконным и может послужить причиной для
        судебного разбирательства и привлечения нарушителей к гражданско-правовой, административной и уголовной
        ответственности в соответствии с законодательством Российской Федерации. При любом использовании материалов,
        размещенных в открытом доступе на Сайте, Пользователь обязан делать ссылку на Сайт как на источник. Размещение
        на Сайте противоправного контента, в т.ч. контента, нарушающего охраняемые законом права третьих лиц, запрещено.
        Исполнитель имеет право удалить противоправный контент, а также заблокировать (удалить аккаунт) Пользователя,
        разместившего противоправный контент.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>8. Ответственность</h3>
        8.1. Любые материалы, полученные с использованием Сайта, Пользователь может использовать на свой собственный
        страх и риск, на него возлагается ответственность за любой ущерб, который может быть нанесен в результате
        использования этих материалов. Исполнитель ни при каких обстоятельствах не несет ответственности перед
        Пользователем или третьими лицами за любой ущерб, вызванный использованием Сайта, содержимого Сайта или иных
        материалов, к которым был получен доступ с Сайта.

        <br><br>

        8.2. Исполнитель не несет ответственности за некорректное поведение лиц, использующих Сайт.

        <br><br>

        8.3. Исполнитель не гарантирует, что:

        8.3.1. Сайт будет соответствовать требованиям Пользователя;

        8.3.2. результаты, которые могут быть получены с использованием Сайта, будут точными и надежными;

        8.3.3. качество какого-либо продукта, услуги, информации, полученного с использованием Сайта, будет
        соответствовать ожиданиям Пользователя;

        8.3.4. Сайт будет работать непрерывно, быстро, надежно и без ошибок и будет соответствовать ожиданиям
        Пользователя;

        8.3.5. все ошибки на Сайте будут исправлены.

        <br><br>

        8.4. Сайт или его элементы периодически могут быть частично или полностью недоступны по причине проведения
        профилактических или других работ технического характера, обеспечивающих нормальное функционирование Сайта. В
        таком случае Исполнитель не несет обязательств по уведомлению Пользователей или неполучению ими информации.

        <br><br>

        8.5. Исполнитель не несет ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в
        обработке или передаче данных, сбое линий связи, кражу, уничтожение или неправомерный доступ третьих лиц к
        результатам интеллектуальной деятельности Пользователей, размещенным на Сайте. Исполнитель не отвечает за любые
        технические сбои или иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или
        провайдеров, компьютерного или телефонного оборудования, программного обеспечения, сбоев сервисов электронной
        почты или скриптов по техническим причинам.

        <br><br>

        8.6. Ни при каких обстоятельствах Исполнитель или его представители не несут ответственность перед Пользователем
        или перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или
        потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием или
        невозможностью использования Сайта или иных материалов, к которым Пользователь или иные лица получили доступ с
        помощью Сайта, а равно в связи с несанкционированным доступом к Аккаунту Пользователя или изменением данных,
        размещенных Пользователем на Сайте, даже если Исполнитель предупреждал или указывал на возможность такого вреда.

        <br><br>

        8.7. Размер убытков, которые могут быть возмещены Исполнителем Пользователю и/или любому третьему лицу, в любом
        случае ограничен в соответствии с положениями части 1 статьи 15 Гражданского кодекса Российской Федерации суммой
        в 4 000 (четыре тысячи) рублей, за исключением случая, предусмотренного в п. 8.5. настоящего пользовательского
        соглашения.

        <br><br>

        8.8. Пользователь принимает на себя полную ответственность и риски, связанные с оформлением Заказов.
        Пользователь несет единоличную ответственность за любую проблему, возникшую в процессе регистрации, оформления,
        подтверждения и оплаты Заказа. В подобном случае Исполнитель не несет ответственность за любой ущерб (денежного
        или
        иного характера), возникший в результате проблемы, вызванной или обусловленной ошибкой, или халатностью
        Пользователя при использовании Сайта, в том числе, неуспешным завершением или подтверждением любой операции.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>9. Персональные данные</h3>
        <br>

        9.1. Принимая условия настоящего соглашения, Пользователь подтверждает, что он ознакомился с
        <a href="{% url 'blog:privacy' %}">
            Политикой конфиденциальности
        </a>
        и обработки персональных данных, размещенной на Сайте, и согласен со всеми условиями, которые
        установлены данной Политикой. Пользователь дает свое информированное и однозначное согласие на обработку
        персональных данных как без использования средств автоматизации, так и с их использованием.

        <br><br>

        9.2. Настоящим Пользователь подтверждает, что он передает свои персональные данные для обработки Исполнителю и
        согласен на их обработку. Пользователь также уведомлен, что обработка его
        персональных данных будет осуществляться Исполнителем на основании пункта 5 части 1 статьи 6
        Федерального закона No152-ФЗ от 27 июля 2006 года «О персональных данных», а также на основании пункта 1 части 1
        статьи 6 Федерального закона No152-ФЗ от 27 июля 2006 года «О персональных данных» в связи с чем Пользователь
        при необходимости выдает согласие на обработку персональных данных.

        <br><br>

        9.3. Пользователь дает Исполнителю согласие на обработку следующих персональных данных:

        <br><br>

        9.3.1. фамилия, имя, отчество;

        <br><br>

        9.3.2. адреса электронной почты;

        <br><br>

        9.3.3. платежные реквизиты;

        <br><br>

        9.4. Целями обработки персональных данных являются: регистрация Пользователя на Сайте; идентификация
        Пользователя на Сайте; отображение аккаунта Пользователя для иных Пользователей Сайта; заключение договора
        оказания услуг для
        получения Пользователем доступа к Онлайн-курсу; оказание услуг по договору и поддержание связи с Пользователем в
        процессе оказания услуг по договору (в процессе прохождения Пользователем Онлайн-курсов); проведение
        маркетинговых
        мероприятий, в т.ч. направление рекламных и информационных рассылок (сообщений), проведение вебинаров;
        заключение договоров с Исполнителем; заключение договоров с юридическими лицами.

        <br><br>

        9.5. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация,
        накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование,
        удаление, уничтожение.

        <br><br>

        9.6. Для всех целей обработки персональных данных срок обработки Исполнителем персональных данных Пользователя
        составляет 3 (три) года с даты проявления Пользователем последней активности на Сайте. Хранение персональных
        данных осуществляется согласно действующему законодательству Российской Федерации. Персональные данные
        Пользователей уничтожаются путем стирания их с серверов (облачных мощностей), используемых оператором
        персональных данных.

        <br><br>

        9.7. Согласие на обработку персональных данных Исполнителем может быть отозвано Пользователем, путем направления
        письменного заявления Исполнителю на электронный адрес <a href="mailto:help@ver-g.ru">help@ver-g.ru.</a>

        <br><br>

        9.8. В случае отзыва Пользователем согласия на обработку персональных данных Исполнитель вправе продолжить
        обработку персональных данных без согласия Пользователя при наличии оснований, указанных в пунктах 2 – 11 части
        1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона No152-ФЗ от 27 июля 2006 года «О
        персональных данных».

        <br><br>

        9.9. Политика по обработке персональных данных Исполнителем является в соответствии с требованиями части 2
        статьи
        18.1 Федерального закона No152-ФЗ от 27 июля 2006 года «О персональных данных» общедоступной и постоянно
        расположена по адресу <a href="{% url 'blog:privacy' %}">http://ver-g.ru/privacy/</a>
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>10. Разрешение споров и применимое право</h3>
        <br>

        10.1. Соглашения и все возникающие из него правоотношения регулируются законодательством Российской Федерации.
        Все возникающие споры разрешаются на основании законодательства Российской Федерации.

        <br></br>

        10.2. Все споры, разногласия и претензии, которые могут возникнуть в связи с исполнением, расторжением или
        признанием недействительным Соглашения, Стороны будут стремиться решить путем переговоров. Сторона, у которой
        возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или
        разногласий.

        <br><br>

        10.3. Указанное в пункте 10.2 Соглашения сообщение направляется Пользователем по электронной почте на адрес
        <a href="mailto:help@ver-g.ru">help@ver-g.ru</a>, а также направляется Исполнителю в письменном виде посредством
        отправки по почте заказным письмом
        с уведомлением о вручении. Сообщение должно содержать суть предъявляемого требования, доказательства,
        подтверждающие требование, а также сведения о Пользователе.

        <br><br>

        10.4. В течение 15 (пятнадцати) рабочих дней с момента получения указанного в пункте 10.2 Соглашения сообщения,
        при условии, что данное сообщение соответствует положениям пункта 10.3 Соглашения, Сторона, получившая его,
        обязана направить ответ на это сообщение.

        <br><br>

        10.5. В случае если ответ на сообщение не будет получен направившей сообщение Стороной в течение 17 (семнадцати)
        рабочих дней с даты направления соответствующего сообщения, либо если Стороны не придут к соглашению по
        возникшим претензиям и/или разногласиям, спор подлежит передаче на рассмотрение в Арбитражный суд города
        Москвы, либо в суд общей юрисдикции по месту нахождения Исполнителя.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>11. Вступление Соглашения в силу и изменение условий Соглашения</h3>
        <br>
        11.1. Текст Соглашения, постоянно размещенный в сети Интернет по адресу <a
            href="http://ver-g.ru/terms/">http://ver-g.ru/terms/</a>,
        содержит все существенные условия Соглашения и является предложением Исполнителя заключить Соглашение с
        Пользователем, на указанных в тексте Соглашения условиях. Таким образом, в соответствии с положениями пункта 2
        статьи 437 Гражданского кодекса Российской Федерации, текст Соглашения является публичной офертой.

        <br><br>

        11.2. В соответствии с пунктом 3 статьи 438 Гражданского кодекса Российской Федерации, надлежащим акцептом этой
        оферты считается последовательное осуществление любым третьим лицом следующих действий:

        <br><br>

        11.2.1. ознакомление с условиями Соглашения;

        <br><br>

        11.2.2. введение регистрационных данных в анкете регистрации и подтверждение достоверности этих данных нажатием
        кнопки.

        <br></br>

        11.3. С момента нажатия кнопки и в случае верного последовательного выполнения всех указанных выше действий,
        Соглашение считается заключенным.

        <br><br>

        11.4. Соглашение может быть расторгнуто в любое время по инициативе каждой Стороны. Для этого Исполнитель
        размещает
        уведомление о расторжении Соглашения на Сайте и/или направляет Пользователю соответствующее уведомление, с
        момента такого размещения/направления такого уведомления Соглашение считается расторгнутым. Пользователь может
        расторгнуть Соглашение, направив Исполнителю по электронной почте на адрес <a
            href="mailto:help@ver-g.ru">help@ver-g.ru</a>
        сообщение о расторжении Соглашения.

        <br><br>

        11.5. Стороны соглашаются, что Соглашение может быть изменено Исполнителем в одностороннем порядке путем
        размещения
        обновленного текста Соглашения в сети Интернет по адресу <a
            href="http://ver-g.ru/terms/">http://ver-g.ru/terms/.</a>
        Пользователь подтверждает свое согласие с изменениями условий Соглашения путем использования Сайта. При
        несогласии с
        измененной версией Соглашения, Пользователь прекращает пользование Сайтом.

        <br><br>

        11.6. Исполнитель и Пользователь могут осуществлять документооборот в электронном виде с использованием
        квалифицированной электронной подписи в соответствии с требованиями Федерального закона № 63-ФЗ от 06.04.2011
        «Об электронной подписи».

        <br><br>

        11.7. Пользователь, не согласный с условиями Соглашения и/или с изменением условий Соглашения должен
        незамедлительно расторгнуть Соглашение в порядке, предусмотренном пунктом 11.4 Соглашения.
    </div>

    <div class="container mt-5" style="font-size: 1.1rem;">
        <h3>12. Реквизиты Исполнителя</h3>

        Индивидуальный предприниматель КУРИЛКО ЕЛЕНА ВИКТОРОВНА
        <br>
        Юридический адрес: г. Москва, ул. Коминтерна, д. 10, корп. 1, кв. 42
        <br>
        Телефон: +7-(991)-737-07-40
        <br>
        e-mail: info@ver-g.ru
        <br>
        ИНН: 490908048703 
        <br>
        ОГРНИП: 323774600503988
        <br><br>
        Расчётный счёт: 40802810938000410135
        <br>
        Банк: ПАО Сбербанк
        <br>
        БИК банка: 044525225
        <br>
        Корреспондентский счет банка: 30101810400000000225
    </div>



</section>


</div>
{% endblock %}