<div class="d-flex flex-column align-items-center free-course-promo-success">
    <div class="" style="font-size: 1.5rem; font-weight: 500;">Отлично!</div>
    <div class="mt-2">
        <h5 style="text-align: center;">Вы получили доступ к прохождению курса: "{{ course_title }}"</h5>
        <img src="{{course_image_url}}" alt="" class="ms-auto me-auto d-block">
    </div>
    <div class="">
        <span>
            <a href="{{ course_url }}" class="btn btn-success d-inline-flex course_continue mt-2">Перейти к изучению</a>
        </span>
    </div>
</div>