<!--Register Modal-->
{% load static %}
<div class="modal fade" id="registerFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Регистрация</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="image-loader" style="left: 45%; display: none;"></div>
        <form action="{% url 'education_platform:register' %}" method="post" id="registrationForm" class="container">

          {% csrf_token %}

          {{ register_form.first_name }}
          <div id="first_nameMatchFeedback" class="invalid-feedback"></div>
          {{ register_form.last_name }}
          <div id="last_nameMatchFeedback" class="invalid-feedback"></div>
          {{ register_form.email }}
          <div id="emailMatchFeedback" class="invalid-feedback"></div>

          <div class="input-group register-password">
            {{ register_form.password1 }}
            <div class="show-pass-button" id="registerShowPass1" title="показать">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            </svg>
            </div>
          </div>
          <div id="password1MatchFeedback" class="invalid-feedback"></div>
          <div class="input-group register-password">
            {{ register_form.password2 }}
            <div class="show-pass-button" id="registerShowPass2" title="показать">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            </svg>
            </div>
            <div id="password2MatchFeedback" class="invalid-feedback"></div>
          </div>
          



          <div class="auth-disclaimer sign-form__disclaimer mt-3">
            <div class="auth-disclaimer__form d-flex">
              <label class="form-checkbox me-2">
              {{ register_form.agreement }}

              </label>
              <div class="auth-disclaimer__caption">
              Я соглашаюсь с <a href="" >условиями использования</a>, <a href="#">политикой конфиденциальности</a> и разрешаю обрабатывать мои персональные данные
              </div>
            </div>
            <div class="container p-0">
              <div id="errorAgreementCheck" class="errorMessageRegistrationForm mt-2 mb-2 d-none">
                Нам нужно ваше согласие, чтобы создать аккаунт
              </div>
              <button class="btn btn-success w-100 mt-2" id="buttonForRegisterForm" type="submit">Зарегистрироваться</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





