<!--Reset Password Modal-->
<div class="modal fade" id="passwordResetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Восстановление пароля</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBodyForPasswordResetForm">
        <h6>Введите email, который был указан при регистрации.</h6>
        <form method="post" action="{% url 'education_platform:password_reset_ajax' %}" id="passwordResetForm">
        {% csrf_token %}
        <div class="mb-3">
            <input type="email" class="form-control" id="emailResetPassword" name="email" autocomplete="email" required>
            <div id="emailResetPasswordMatchFeedback" class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-success px-1">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>