<div class="collapse"
     id="addAnswerCollapse{{ comment.pk }}">

    <div class="alert alert-success d-none" role="alert" id="successAlert">
    </div>

    <div class="alert alert-danger d-none" role="alert" id="dangerAlert">
    </div>

    <form class="addAnswerForCommentForms p-2" id="addAnswerForCommentForm{{ comment.pk }}" action="{% url 'comments:add_answer_for_comment' article_pk=article.pk parent_pk=comment.pk %}" method="post">
        {% csrf_token %}
        <h5>Введите ваше имя и текст сообщения</h5>
        <p>{{ add_comment_form.author }}</p>
        <p>{{ add_comment_form.text }}</p>
        <button class="btn btn-warning mt-1 orangeButtonForSendComments" type="submit">Отправить</button>
    </form>
</div>